* {
  box-sizing: border-box;
  margin: 0px;
}

/* FONTS */

html {
  --font-display: "bebas-neue", sans-serif;
  --font-paragraph: "montserat", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  font-weight: 400;
  line-height: normal;

  margin: 0px;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 16px;
  font-family: var(--font-paragraph);
  line-height: 1.7;
  text-align: left;
}

body {
  background-color: var(--primary-color);
}

img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

/* FARVER */
html {
  --primary-color: #dcb3cc;
  --secondary-color: rgb(48, 48, 48);
}

h1,
nav a,
p {
  color: white;
}

nav a {
  font-size: 22px;
}

.icon_and_text h1 {
  font-family: "bebas-neue", sans-serif;
  font-size: 25px;
  padding: 0px;
  padding-left: 5%;
}

/* HEADER */
.header_logo h1 {
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  margin: 0px;
  padding: 2rem;
  margin-bottom: 2rem;
}

header p {
  font-size: 15px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  font-family: "bebas-neue", sans-serif;
  font-size: 15px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
  padding: 0px;
}

.header_logo h1 {
  font-size: 1.3rem;
  margin: 0px;
  cursor: pointer;
}

.header_logo a {
  text-decoration: none;
}

/* MAIN */
main {
  margin: 0 auto;
  max-width: 1250px;
}

#col_1 {
  padding-bottom: 25px;
  text-align: center;
}

#col_2 p {
  font-size: 30px;
  padding-bottom: 8%;
  padding-inline: 8%;
  font-style: italic;
}

#col_2 {
  text-align: center;
}

/* FOOTER */
.make_white {
  color: white;
}

footer {
  border-top: 1px solid white;
}

.footer_div {
  padding-block: 1rem;
  text-align: center;
}

.footer_div p {
  text-align: center;
}

.footerp {
  padding-block: 10px;
  font-style: italic;
  text-align: center;
}

footer h3 {
  padding-block: 0.5rem;
  font-size: 1.75rem;
}

.contact_text {
  font-style: normal;
  font-weight: bold;
}

.svg_linkedIn img {
  max-width: 45px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20%;
}
footer .svg_linkedIn {
  cursor: pointer;
}

/* TABLET */
@media (min-width: 700px) {
  /* HOVER */

  a:hover {
    text-decoration: underline;
  }

  /* HEADER */
  header {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 0px;
    margin: 0px;
  }

  #container_fp {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    max-height: 80vh;
  }

  /* Fonts */
  .header_logo h1 {
    font-size: 2.15rem;
    letter-spacing: 1px;
    padding: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    line-height: 1.7;
  }

  /* WHITE */
  .header_logo {
    background-color: white;
  }

  .my_logo {
    color: var(--primary-color);
  }

  #col_1 {
    background-color: white;
    display: grid;
    align-content: center;
    max-height: 80vh;
  }

  #img_fp {
    width: 100%;
    padding: 2rem;
  }
  /* COLOR SIDE */
  nav {
    justify-content: end;
    padding-inline: 10%;
  }

  nav a {
    font-size: 1.25rem;
  }

  #col_2 {
    display: grid;
    place-self: center;
  }

  /*FOOTER */
  .flex {
    border-top: 1px solid var(--primary-color);
    display: flex;
    padding: 1rem;
    align-items: top;
    flex-wrap: wrap;
    justify-content: space-evenly;

    color: #ddd;
    margin: 0px;
  }

  footer h3 {
    color: #ffffff;
    padding-block: 1rem;
  }

  .footer_div {
    display: grid;
    text-align: left;
  }

  .footer_div p {
    text-align: left;
  }

  footer p {
    padding: 0px;
    margin: 0px;
    text-align: left;
  }

  footer .svg_linkedIn {
    display: grid;
    text-align: left;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  #img_fp {
    width: 100%;
    padding: 3rem;
  }
}

/* DESKTOP */
@media (min-width: 1250px) {
  #img_fp {
    width: 90%;
    padding: 3rem;
    padding-top: 0px;
    height: auto;
  }
  #container_fp {
    max-height: 80vh;
  }

  #col_1 {
    max-height: 80vh;
  }

  main {
    max-width: none;
  }
  #container_fp {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }

  /* HEADER */
  .header_logo h1 {
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
    padding-inline: 20%;
    padding-block: 10%;
  }

  /* WHITE */

  #col_1 {
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  /* COLORSIDE */
  nav a {
    font-size: 2rem;
  }

  #col_2 p {
    font-size: 50px;
    width: 80%;
    line-height: 4rem;
  }
}

/* BURGER */
li {
  /* dette gør at liste elementerne ikke får prikkerne */
  list-style: none;
}

/* er vores container til navigationsmenu*/
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Dette gør at der er et bestemt tidsinterval før animationen sker */
.nav-link-button {
  transition: 0.7s ease;
}

/* Dette er en container hvor vores "bar" ligger i*/
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  z-index: 2;
}

/*Dette er vores hamburger menu ikon(de 3 streger) */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/*BURGER MOBIL */
@media (max-width: 700px) {
  .hamburger {
    display: block;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 1rem;
    margin: 0;
    list-style: none;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
  }

  /* Dette gør at hamburger menuen skifter fra 3 sterger til et kryds når menuen er synlig*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* knappen der trykkes på for at toggle frme of tilbage mellem hamburger og kryds*/
  .toggle-btn {
    margin: 16px 0;
  }

  .nav-menu.active {
    transform: translateY(0);
    opacity: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    left: 75%;
    top: 9.5%;
    text-align: left;
    gap:1rem; 
  }
  .nav-menu.active li a {
    font-family: "bebas-neue", sans-serif;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    line-height: 27px;
    gap: 15px;
    color: var(--primary-color);
    z-index: 2;
    margin: 0px;
    padding: 0px;
  }
}
