/* GENERELT */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

.section_border {
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 65%;
  margin: 0 auto;
}

/* FARVER */
html {
  --primary-color: #dcb3cc;
  --secondary-color: rgb(48, 48, 48);
}

/* FONTS */
html {
  --font-display: "bebas-neue", sans-serif;
  --font-paragraph: "montserat", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  font-weight: 400;
  line-height: normal;
  padding-block: 1rem;
  margin: 0px;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.25rem;
  font-family: var(--font-paragraph);
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-family: var(--font-paragraph);
  line-height: 1.7;
  text-align: left;
  max-width: 75ch;
}

ul li {
  font-family: var(--font-paragraph);
  font-size: 1rem;
}

/* BUTTONS */
.form{
  padding: 1rem;
}


.btn_container {
  text-align: center;
  padding-bottom: 5%;
}

.btn {
  border: none;
  text-decoration: none;
  display: inline-block;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-display);
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
  margin-block: 0.75rem;
  border-radius: 7px;
}
/* HOVER */
/* .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.108) 0px 7px 29px 0px;
}

.link a {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: white;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.link a:hover {
  box-shadow: inset 300px 0 0 0 #ffffff;
  color: var(--primary-color);
} */

/* TEXT */
h1,
h2,
h3,
h4,
nav a {
  color: rgb(0, 0, 0);
  text-align: center;
}
li {
  color: rgb(0, 0, 0);
}

.my_logo {
  padding: 0%;
  cursor: pointer;
  color: var(--primary-color);
}

a {
  list-style-type: none;
  text-decoration: none;
}

/* HEADER */

header p {
  font-size: 15px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--primary-color);
}

nav ul {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  font-family: "bebas-neue", sans-serif;
  font-size: 1rem;
  color: var(--primary-color);
}

/* hover på nav */
/* a {
  box-shadow: inset 0 0 0 0 #dcb3cc;
  transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #dcb3cc;
  color: white;
  padding: 5px;
} */

/* LINKS */
.link_container {
  text-align: center;
  padding-bottom: 5%;
}

/* LINK HOVER */
/* .link a {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: white;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.link a:hover {
  box-shadow: inset 300px 0 0 0 #ffffff;
  color: var(--primary-color);
} */

.make_white {
  color: white;
  padding: 0px;
  margin: 0px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* arrow til links */
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* LINK HOVER REVERSE*/
h3 {
  color: black;
}
.link_reverse a {
  box-shadow: inset 0 0 0 0 black;
  color: black;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.link_reverse a:hover {
  box-shadow: inset 300px 0 0 0 black;
  color: white;
}

.arrow_reverse {
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.make_b {
  color: black;
}

/* fjern lilla skrift fra links??? */

.header_logo h1 {
  font-size: 1.3rem;
  margin: 0px;
  cursor: pointer;
}


/* MAIN */

main {
  margin: 0 auto;
  max-width: 1250px;
}



section {
  padding: 2rem;
  margin: 0 auto;
}

#section_1, #section_2, #section_3, #section_4, #section_5 {
 padding-block: 3rem;
}


/* PORTFOLIO SITE STYLING */

figure {
  text-align: center;
}

#redesign_img {
  padding-top: 5%;
}

.section_color {
  background-color: var(--primary-color);
 
}
.section_color h1 {
  color: white;
}
.section_color p {
  color: white;
}

/* VIDEO */
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  padding-top: 8%;
}


/* CREATIVE PROJECTS SITE */
#creative_projects {
  padding-inline: 10%;
}

#HB {
  padding-inline: 10%;
}

/* CV SITE */
#CV {
  padding-inline: 3rem;
}

#CV h4{
  text-align: left;
  font-size: 1rem;
 line-height: 1.75rem;
}



#job_and_work {
  background-color: var(--primary-color);
  padding-bottom: 1rem;
}
#job_and_work p h3 {
  color: white;
}



#white
/* ICON SECTION */

#info p {
  text-align: left;
}

svg {
  margin: 0px;
  margin-right: 20px;
}

.icon_and_text {
  display: flex;
  margin-bottom: 1rem;
}

.icon_and_text h1 {
  font-family: "bebas-neue", sans-serif;
  font-size: 25px;
  padding: 0px;
  padding-left: 5%;
  color: var(--primary-color);
}

.underline {
    border-bottom: 2px solid rgba(240, 188, 222, 0.37);
}

.underline_white {
  border-bottom: 2px solid white;
}
/* IMG CV  */
#pb_cv {
 width: 100%;
 height:80%;
 object-fit: cover;
  margin-bottom: 10%;
}

.hide {
  display: none;
}

/* PERSONAL INFO  */

ul {
  list-style-type: none;
  padding: 0px;
  padding-right: 8%;
}

#personal_info {
  padding: 0px;
}

ul li {
  line-height: 27px;
}

/* JOB */
.left_text {
  text-align: left;
}

/* SKILLS  */
#skill_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8%;
  padding-top: 8%;
}

#skills_text {
  font-family: "bebas-neue", sans-serif;
  font-size: 25px;
  margin: 0%;
}

#skills_text li {
  line-height: 30px;
  padding-block: 5%;
}

.skills {
  padding: 0%;
}

#skill_level {
  width: 100px;
  height: auto;
}

article {
  padding-block: 2rem;
}

/* EDUCATION BOLD */
.bold {
  font-weight: bold;
}

/* SKILL BAR DOTS */
.dot-container {
  display: flex;
  align-items: flex-start;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}

.pink {
  background-color: var(--primary-color);
  border: none;
}

.space {
  padding-block: 10px;
}
#all_the_dots {
  margin: 0px;
  padding: 0px;
}

.dot_article {
  padding-block: 5%;
  align-self: flex-start;
}

#education {
  padding-bottom: 8%;
}

/* FOOTER */

.flex{
 margin:0px;
} 

footer {
  text-align: center;
  border-top: 1px solid var(--primary-color);
} 

.footer_div{
  padding-block: 1rem;
  text-align: left;
  display: grid;
  place-content: center;
}


.footerp {
  padding-block: 10px;
  font-style: italic;
  text-align: center;
  font-size: 0.9rem;
}

footer h3{
  padding-block: 0.5rem;
  font-size: 1.75rem;
}

footer .svg_linkedIn {
  display: grid;
  text-align: left;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}



footer h3 {
  color: var(--primary-color);
}

.footerp {
  padding-block: 10px;
  font-style: italic;
  color: var(--primary-color);
}

.contact_text {
  font-style: normal;
}

.contact_text p {
  color: var(--primary-color);
}

.svg_linkedIn img {
  max-width: 45px;
  text-align: center;
}

.header_logo h1 {
  cursor: pointer;
}

.link_b {
  color: black;
}

#work_exp,
#white_text,
.make_white {
  color: white;
}

article {
  padding-inline: 3rem;
}

.grid_col{
  padding-block: 2rem;
}

section .link, .link_reverse{
  text-align: center;
}

#skills_text li {
  line-height: 30px;
  padding-block: 6%;
}

/* TABLET */
@media (min-width: 700px) {
  /**************** CV SITE **********************/
  /* HEADER */
header{
  padding: 0px;
}

  header ul {
    padding: 2rem;
  }

  .header_logo h1 {
    padding: 2rem;
    font-size: 2.15rem;
  }

  #CV h4 {
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  #CV {
    padding-inline: 3rem;
    padding-bottom: 5rem;
  }

  /* HOVER */
  a {
  
    box-shadow: inset 0 0 0 0 #dcb3cc;
    transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  }
  a:hover {
    box-shadow: inset 300px 0 0 0 #dcb3cc;
    color: white;
    padding: 5px;
  }

  /* LINKS */
  .link_container {
    text-align: center;
    padding-bottom: 5%;
  }

  /* HOVER LINKS */
  .link_reverse h3 {
    color: black;
  }
  .link a {
    box-shadow: inset 0 0 0 0 #ffffff;
    color: white;
    transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  }
  .link a:hover {
    box-shadow: inset 350px 0 0 0 #ffffff;
    color: var(--primary-color);
  }

  /* BUTTON HOVER */
  .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.108) 0px 7px 29px 0px;
  }

  .link a {
    box-shadow: inset 0 0 0 0 #ffffff;
    color: white;
    transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  }
  .link a:hover {
    box-shadow: inset 300px 0 0 0 #ffffff;
    color: var(--primary-color);
  }

  main {
    max-width: none;
  }


  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    line-height: 1.7;
  }


  a {
    font-size: 1.15rem;
  }

  nav a {
    font-size: 1.25rem;
  }

  /* FONTS */
  h1 {
    font-size: 4.2rem;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    line-height: 1.7;
  }

  /* MAIN */

  section p {
    padding-block: 1rem;
    max-width: 65ch;
    margin: 0 auto;
   } 

  article {
    padding-block: 5rem;
  }

  #main_cv {
    padding: 0px;
    margin: 0px;
  }

  #CV {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  /* GRID */

  /* 1 section */
  .icon_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hide {
    display: block;
    width: 75%;
  }

  /* 2 section */
  .grid_col {
    padding-inline: 15%;
    padding-top: 0px;
  }

  #work_exp {
    padding-top: 6%;
  }

  /*  section 2 background */
  #job_and_work {
    background-color: var(--primary-color);
   
  }

  #white_icon {
    position: absolute;
  }

  #work_exp,
  #white_text {
    color: white;
  }

  .white_text {
    color: white;
  }
  .underline_white {
    border-bottom: 2px solid white;
  }

  #skills_text li {
    line-height: 30px;
    padding-block: 6%;
  }
 
 
header{
  margin-bottom: 2rem;
}

.btn_container p {
  text-align: center;
}
 /*  FOOTER  */
.flex {
  text-align: center;
  border-top: 1px solid var(--primary-color);
  display: flex;
  padding: 1rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
  color: #ddd;
  margin:0px;
}

footer h3{
text-align: left;
padding-block: 1rem;
}


.footer_div {
  display: grid;
  text-align: left;
}

.footer_div p {
  text-align: left;
}

footer p {
  padding: 0px;
  margin: 0px;
  text-align: left;
}


}

  .svg_linkedIn img {
    max-width: 60px;
  }
  #copyright{
    display: flex;
justify-content: center;

  }

  section {
    padding: 2rem;
    margin: 0 auto;
  }

  section p {
    padding-block: 1rem;
   } 
   footer p {
    padding: 0px;
    margin: 0px;
    text-align: left;
  }

  /**************** PORTFOLIO SITE **********************/

@media (min-width: 800px) {
  /**************** CREATIVE PROJECTS TABLET**********************/
  #drawings_container img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 26/23;
    object-fit: cover;
  }

  #drawings_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 5%;
  }

  #hb_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 5%;
  }

  #hb_container img {
    aspect-ratio: 1/1;
  }
  .hb_img{
    object-fit: fill;
  }

  .place_text {
    padding-bottom: 2rem;
  }
}

/* DESKTOP */
@media (min-width: 1250px) {
  /* HEADER */
  header  {
 padding: 2rem;
  }
 .header_logo h1 {
    font-size: 3rem;
     }
  nav a {
    font-size: 2rem;
  }

  p {
    margin-inline: 15%;
    font-size: 1.2rem;
  }

  /* FONTS */
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .left_text {
    margin-inline: 0%;
  }

  img {
    max-width: 100%;
  }

  figure {
    max-width: 90%;
  }
  figure img {
    padding-top: 4%;
  }

  main {
    max-width: fit-content;
  }

  .left_text {
    font-size: 20px;
  }

  
  /* BUTTON */
  .btn {
    height: 4rem;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
  }

  /* MAIN */
  section p {
    max-width: 75ch;
   } 

  #info {
    font-size: 25px;
  }

  ul li {
    line-height: 35px;
  }
  /**************** CV SITE **********************/
  .left_text {
    font-size: 25px;
  }

  #skills_text li {
    font-size: 30px;
  }

  .dot {
    width: 27px;
    height: 27px;
  }

 .dot_article {
  padding-block: 7%;
}

  #work_exp {
    padding-top: 5%;
  }

  #skill_container {
    padding-top: 5%;
  }

  /**************** PORTFOLIO SITE **********************/

 

  .section_border {
    margin-bottom: 4rem;
  }

  .redesign_img img {
    max-width: 80%;
  }
  .game_img img {
    max-width: 80%;
  }

  /**************** CREATIVE SITE **********************/

  .place_text {
    padding-bottom: 3rem;
  }
  section {
    padding: 2rem;
    margin: 0 auto;
  }
}


/* BURGER */
li {
  /* dette gør at liste elementerne ikke får prikkerne */
  list-style: none;
}

/* er vores container til navigationsmenu*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Dette gør at der er et bestemt tidsinterval før animationen sker */
.nav-link-button {
  transition: 0.7s ease;
}

/* Dette er en container hvor vores "bar" ligger i*/
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  z-index: 2;
}

/*Dette er vores hamburger menu ikon(de 3 streger) */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color:var(--primary-color)
}

/*BURGER MOBIL */
@media (max-width: 700px) {
.hamburger {
  display: block;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 1rem;
  margin: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
}

/* Dette gør at hamburger menuen skifter fra 3 sterger til et kryds når menuen er synlig*/
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* knappen der trykkes på for at toggle frme of tilbage mellem hamburger og kryds*/
.toggle-btn {
  margin: 16px 0;
}

.nav-menu.active {
  transform: translateY(0);
  opacity: 1;
  display: flex;
  flex-direction: column;
  background-color: #dcb3cc;
  left:70%;
  width: 25%;   
  top:9.5%;
  text-align: left;
} 
.nav-menu.active li a{
  color:white;
  z-index: 2;
  margin: 0px;
  padding: 0px;
}
}