/* GENERELT */
body {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.section_border {
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 65%;
  margin: 0 auto;
}

/* FARVER */
html {
  --primary-color: #dcb3cc;
  --secondary-color: rgb(48, 48, 48);
}

/* FONTS */
html {
  --font-display: "bebas-neue", sans-serif;
  --font-paragraph: "montserat", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  font-weight: 400;
  line-height: normal;
  padding-block: 1rem;
  margin: 0px;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.25rem;
  font-family: var(--font-paragraph);
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-family: var(--font-paragraph);
  line-height: 1.7;
}

ul li {
  font-family: var(--font-paragraph);
  font-size: 1rem;
}

/* BUTTONS */
.btn_container {
  text-align: center;
  padding-bottom: 5%;
}

.btn {
  border: none;
  text-decoration: none;
  display: inline-block;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-display);
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
  margin-block: 0.75rem;
  border-radius: 7px;
}
/* HOVER */
/* .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.108) 0px 7px 29px 0px;
}

.link a {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: white;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.link a:hover {
  box-shadow: inset 300px 0 0 0 #ffffff;
  color: var(--primary-color);
} */

/* TEXT */
h1,
h2,
h3,
h4,
.menu a,
p {
  color: rgb(0, 0, 0);
  text-align: center;
}
li {
  color: rgb(0, 0, 0);
}

.my_logo {
  padding: 0%;
  cursor: pointer;
  color: var(--primary-color);
}

a {
  list-style-type: none;
  text-decoration: none;
}

/* HEADER */

header p {
  font-size: 15px;
}
header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  /*  text-decoration: none; */
  padding: 2rem;
  border-bottom: 1px solid var(--primary-color);
}

nav ul {
  display: flex;
  gap: 15px;
}

.menu a {
  text-decoration: none;
  font-family: "bebas-neue", sans-serif;
  font-size: 1rem;
  color: var(--primary-color);
}

/* hover på nav */
/* a {
  box-shadow: inset 0 0 0 0 #dcb3cc;
  transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #dcb3cc;
  color: white;
  padding: 5px;
} */

/* LINKS */
.link_container {
  text-align: center;
  padding-bottom: 5%;
}

/* LINK HOVER */
/* .link a {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: white;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.link a:hover {
  box-shadow: inset 300px 0 0 0 #ffffff;
  color: var(--primary-color);
} */

.make_white {
  color: white;
  padding: 0px;
  margin: 0px;
  margin-top: 0.5rem;
}

/* arrow til links */
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* LINK HOVER REVERSE*/
.link_reverse a {
  box-shadow: inset 0 0 0 0 black;
  color: black;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.link_reverse a:hover {
  box-shadow: inset 300px 0 0 0 black;
  color: white;
}

.arrow_reverse {
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.make_b {
  color: black;
}

/* fjern lilla skrift fra links??? */

.header_logo h1 {
  font-size: 1.3rem;
  margin: 0px;
  cursor: pointer;
}

/* MAIN */
main {
  margin: 0 auto;
  max-width: 1250px;
}
section {
  margin-block: 1.5rem;
}

/* PORTFOLIO SITE STYLING */

figure {
  text-align: center;
}

#redesign_img {
  padding-top: 5%;
}

.section_color {
  background-color: var(--primary-color);
  padding: 5%;
}
.section_color h1 {
  color: white;
}
.section_color p {
  color: white;
}

/* VIDEO */
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  padding-top: 8%;
}

/* CREATIVE PROJECTS SITE */
#creative_projects {
  padding-inline: 10%;
}

#HB {
  padding-inline: 10%;
}

/* CV SITE */
#CV {
  padding-inline: 3rem;
}

article {
  padding-inline: 3rem;
}

#job_and_work {
  background-color: var(--primary-color);
  padding-bottom: 1rem;
}

section p {
  padding-inline: 10%;
}

#white
/* ICON SECTION */

#info p {
  text-align: left;
}

svg {
  margin: 0px;
  margin-right: 20px;
}

.icon_and_text {
  display: flex;
}

.icon_and_text h1 {
  font-family: "bebas-neue", sans-serif;
  font-size: 25px;
  padding: 0px;
  padding-left: 5%;
  color: var(--primary-color);
}

.underline {
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* IMG CV  */
#pb_cv {
  border: 1px solid black;
  margin-bottom: 10%;
}

.hide {
  display: none;
}

/* PERSONAL INFO  */

ul {
  list-style-type: none;
  padding: 0px;
  padding-right: 8%;
}

#personal_info {
  padding: 0px;
}

ul li {
  line-height: 27px;
}

/* JOB */
.left_text {
  text-align: left;
}

/* SKILLS  */
#skill_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8%;
  padding-top: 8%;
}

#skills_text {
  font-family: "bebas-neue", sans-serif;
  font-size: 25px;
  margin: 0%;
}

#skills_text li {
  line-height: 30px;
  padding-block: 5%;
}

.skills {
  padding: 0%;
}

#skill_level {
  width: 100px;
  height: auto;
}

article {
  padding-top: 10%;
}

/* EDUCATION BOLD */
.bold {
  font-weight: bold;
}

/* SKILL BAR DOTS */
.dot-container {
  display: flex;
  align-items: flex-start;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}

.pink {
  background-color: var(--primary-color);
  border: none;
}

.space {
  padding-block: 10px;
}
#all_the_dots {
  margin: 0px;
  padding: 0px;
}

.dot_article {
  padding-block: 5%;
  align-self: flex-start;
}

#education {
  padding-bottom: 8%;
}

/* FOOTER */

footer {
  text-align: center;
  border-top: 1px solid var(--primary-color);
}
footer p {
  padding: 0px;
  margin: 0px;
}

footer h3 {
  color: var(--primary-color);
}

.footerp {
  padding-block: 10px;
  font-style: italic;
  color: var(--primary-color);
}

.contact_text {
  font-style: normal;
  font-weight: bold;
}

.contact_text p {
  color: var(--primary-color);
}

.svg_linkedIn img {
  max-width: 45px;
  text-align: center;
}

.header_logo h1 {
  cursor: pointer;
}

/* TABLET */
@media (min-width: 700px) {
  /**************** CV SITE **********************/
  /* HEADER */

   /* HOVER */
  a {
    box-shadow: inset 0 0 0 0 #dcb3cc;
    transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  }
  a:hover {
    box-shadow: inset 300px 0 0 0 #dcb3cc;
    color: white;
    padding: 5px;
  }
  
  /* LINKS */
  .link_container {
    text-align: center;
    padding-bottom: 5%;
  }
  
  /* HOVER LINKS */
  .link a {
    box-shadow: inset 0 0 0 0 #ffffff;
    color: white;
    transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  }
  .link a:hover {
    box-shadow: inset 350px 0 0 0 #ffffff;
    color: var(--primary-color);
  }
  
  /* BUTTON HOVER */
  .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.108) 0px 7px 29px 0px;
  }
  
  .link a {
    box-shadow: inset 0 0 0 0 #ffffff;
    color: white;
    transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
  }
  .link a:hover {
    box-shadow: inset 300px 0 0 0 #ffffff;
    color: var(--primary-color);
  }

  main {
    max-width: none;
  }

  .header_logo h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    line-height: 1.7;
  }

  a {
    font-size: 1.15rem;
  }

  .menu a {
    font-size: 1.5rem;
  }

  /* FONTS */
  h1 {
    font-size: 4.2rem;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    line-height: 1.7;
  }

  /* MAIN */

  #main_cv {
    padding: 0px;
    margin: 0px;
  }

  #CV {
    text-align: center;
    border-bottom: 2px solid black;
    width: 60%;
    margin: 0 auto;
  }

  /* GRID */

  /* 1 section */
  .icon_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hide {
    display: block;
    width: 75%;
  }

  /* 2 section */
  .grid_col {
    padding: 15%;
    padding-top: 0px;
  }

  #work_exp {
    padding-top: 6%;
  }

  /*  section 2 background */
  #job_and_work {
    background-color: var(--primary-color);
    padding-block: 10%;
  }

  #white_icon {
    position: absolute;
  }

  #work_exp,
  #white_text {
    color: white;
  }

  .white_text {
    color: white;
  }
  .underline_white {
    border-bottom: 2px solid white;
  }
  /*  FOOTER ICON */
  .svg_linkedIn img {
    max-width: 60px;
  }

  /**************** PORTFOLIO SITE **********************/
}

@media (min-width: 800px) {
  /**************** CREATIVE PROJECTS TABLET**********************/
  #drawings_container img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 26/23;
    object-fit: cover;
  }

  #drawings_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 5%;
  }

  #hb_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 5%;
  }

  #hb_container img {
    aspect-ratio: 9/10;
  }

  .place_text {
    padding-bottom: 2rem;
  }
}

/* DESKTOP */
@media (min-width: 1250px) {


  /* HEADER */
  header .my_logo {
    font-size: 3.25rem;
  }
  .menu a {
    font-size: 2rem;
  }

  p {
    margin-inline: 15%;
    font-size: 1.2rem;
  }

  /* FONTS */
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .left_text {
    margin-inline: 0%;
  }

  img {
    max-width: 100%;
  }

  figure {
    max-width: 90%;
  }
  figure img {
    padding-top: 4%;
  }

  main {
    max-width: fit-content;
  }

  .left_text {
    font-size: 20px;
  }

  /* FOOTER */

  /* BUTTON */
  .btn {
    height: 4rem;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
  }

  /* MAIN */
  #info {
    font-size: 25px;
  }

  ul li {
    line-height: 35px;
  }
  /**************** CV SITE **********************/
  .left_text {
    font-size: 25px;
  }

  #skills_text li {
    font-size: 30px;
  }

  .dot {
    width: 27px;
    height: 27px;
  }

  .dot_article {
    padding-block: 5%;
  }

  #work_exp {
    padding-top: 5%;
  }

  #skill_container {
    padding-top: 5%;
  }

  /**************** PORTFOLIO SITE **********************/

  #section_1 {
    margin-block: 3rem;
  }

  .section_border {
    margin-bottom: 4rem;
  }

  .redesign_img img {
    max-width: 80%;
  }
  .game_img img {
    max-width: 80%;
  }

  /**************** CREATIVE SITE **********************/

  .place_text {
    padding-bottom: 3rem;
  }
}
